services:
  reverse-proxy:
    image: traefik:latest
    container_name: reverse-proxy
    ports:
      - "80:80"
      - "443:443"
      # - "8080:8080" # Traefik dashboard
    restart: unless-stopped
    environment:
      - CF_DNS_API_TOKEN=_mby-s36Aeg6ms7okeUsEtY1JD6zGw_f9_XxagaL
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik.yaml:/etc/traefik/traefik.yaml:ro
      - ./data/certs/:/var/traefik/certs/:rw

  api:
    depends_on:
      db:
        condition: service_healthy
      seq:
        condition: service_started
    build:
      context: ./backend
      target: development
    ports:
      - "5000:8080"
      - "5001:8081"
    env_file:
      - .env
    volumes:
      - ./backend:/app:cached
      - /app/backend.Host/bin
      - /app/backend.Host/obj
    stdin_open: true
    tty: true
    # healthcheck:
    #   test:
    #     [
    #       "CMD",
    #       "wget",
    #       "--quiet",
    #       "--tries=1",
    #       "--spider",
    #       "http://localhost:8080/health",
    #     ]
    #   interval: 30s
    #   timeout: 10s
    #   retries: 3
    #   start_period: 40s
    labels:
      - traefik.enable=true
      # HTTPS router
      - traefik.http.routers.web-api.rule=Host(`api.wi-help.com`)
      # - traefik.docker.network=leenqi_network
      - traefik.http.routers.web-api.entrypoints=websecure
      - traefik.http.routers.web-api.tls=true
      - traefik.http.routers.web-api.tls.certresolver=cloudflare
      # Service
      - traefik.http.services.web-api.loadbalancer.server.port=8080
      # - traefik.docker.network=leenqi_network

  db:
    image: postgres:16-alpine
    # restart: always
    user: postgres
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  seq:
    image: datalust/seq:latest
    container_name: seq
    restart: unless-stopped
    environment:
      - ACCEPT_EULA=Y
      - SEQ_FIRSTRUN_NOAUTHENTICATION=true
    ports:
      - 5341:80
    volumes:
      - seq-data:/data
    labels:
      - traefik.enable=true
      # HTTPS router
      - traefik.http.routers.seq.rule=Host(`seq.wi-help.com`)
      # - traefik.docker.network=leenqi_network
      - traefik.http.routers.seq.entrypoints=websecure
      - traefik.http.routers.seq.tls=true
      - traefik.http.routers.seq.tls.certresolver=cloudflare
      # Service
      - traefik.http.services.seq.loadbalancer.server.port=80
      # - traefik.docker.network=leenqi_network

  web:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - NODE_ENV=development
        - VITE_API_URL=https://api.wi-help.com
        # - VITE_APP_URL=https://wi-help.com
    container_name: web
    depends_on:
      api:
        condition: service_started
    labels:
      - traefik.enable=true
      # HTTPS router
      - traefik.http.routers.web.rule=Host(`wi-help.com`) || Host(`www.wi-help.com`)
      # - traefik.docker.network=leenqi_network
      - traefik.http.routers.web.entrypoints=websecure
      - traefik.http.routers.web.tls=true
      - traefik.http.routers.web.tls.certresolver=cloudflare
      # Service
      - traefik.http.services.web.loadbalancer.server.port=5173
      # - traefik.docker.network=leenqi_network

      # - com.centurylinklabs.watchtower.enable=true
    ports:
      - "5173:5173"
    environment:
      - NODE_ENV=development
    env_file:
      - .env
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

    restart: unless-stopped

volumes:
  db-data:
  seq-data:
